

.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* nav style */
nav{
    margin: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    font-size: 34px;
    font-weight: bold;
    color: #0E0E0E;
}

.heder-btn{
    padding: 15px 30px;
    border-radius: 8px;
    background-color: white;
    border-style: solid;
    border-color: #006A50;
    color: #006A50;
    font-size: 18px;
    font-weight: 700;
}

/* banner-styles */

.banner{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    padding: 50px;
    border-radius: 24px;
    margin: 0 80px;

}

.banner-content{
    max-width: 640px;
    margin-top: 50px;
    
}
.banner-head{
    font-size: 24px;
    font-weight: 600;
    color: #0E0E0E;
    opacity: 50%;
    /* margin-top: 30px; */
    margin-bottom: 16px;
}

.banner-2nd-head{
    font-size: 44px;
    font-weight: bold;
    color: #0E0E0E;
    width: 480px;
    margin:auto;
}

.banner-btn{
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #006A50;
    border: none;
    padding: 17px 34px;
    border-radius: 8px;
    margin-top: 24px;
}

.banner-pic{
    max-width: 475px;

}

/* section style */

.vision{
    margin: 20px 80px;
}
.vision-main-title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}
.vision-des{
    font-size: 12px;
    opacity: 70%;
    text-align: justify;
    margin-bottom: 10px;
}


/* vision style */

.vision-container{
    display: flex;
    gap: 24px;
    margin-top: 40px;
    justify-content: center;
}

.vision-sub-title {
    padding: 30px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 14px;
    height: auto;
  
}
.vision-sub-title-2{
    padding: 30px;
    background-color: #C6E4D6;
    border-radius: 14px;
}
.vision-sub-title-3{
    padding: 30px;
    background-color: #F7EBCF;
    border-radius: 14px;
}    

.vision-title{
    font-size: 22px;
}

.vision-title-des{
    font-size: 14px;
    opacity: 70%;
    margin-bottom: 20px;
}
.vision-btn{
    font-size: 16px;
    color: white;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    background-color: #5490F5;
}
.vision-btn-2 {
    font-size: 16px;
    color: white;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    background-color: #09A15C;
}
.vision-btn-3{
    font-size: 16px;
    color: white;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    background-color: #FFC239;
}


/* news st;yes  */

.news-title{
    font-size: 40px;
    font-weight: bold;
    margin: 0 80px;
}

.new-title-des{
    margin: 20px 80px;
    font-size: 16px;
    opacity: 70%;
    text-align: justify;
}

.news-sub{
    display: flex;
    background-color:#FFFFFF;
    box-shadow: 0px 6px 8px 0 #8b8b8b;
    margin: 20px 80px;
    border-radius: 20px
    
}

img {
    border-radius: 20px;
}
.pic-part-1{
    display: flex;
    /* justify-content: center; */
    margin: 20px 15px;
    padding: 30px;
    border-radius: 20px;
    
}

.pic-sub{
    margin: 20px 15px;
    padding: 30px;
    text-align: justify;
    /* border-radius: 20px; */
}

.new-sub-title{
    font-size: 26px;
}